In [46]:
import sqlalchemy as sa
import os
import time
import pyodbc
import pandas as pd
import urllib
import numpy as np
import uuid

In [ ]:
!pip install pymssql --proxy=

In [49]:
import pymssql
import pandas as pd
 
# ------------------------------
# -- Create Dataframe
# ------------------------------
df = pd.DataFrame({"col1":[111,222,333], "col2":['a1','a2','a3',]})
 
print (df)
print ("... dataframe", "." * 100, "\n")
 
 
# ------------------------------
# -- Connection String
# ------------------------------
conn = pymssql.connect(host="MXABISERVER\SQLEXPRESS", user="TSTENG_MXA", password="micron123", database="TSTENG_MXA")
cur = conn.cursor()
 
 
# ------------------------------
# -- Create SQL
# ------------------------------
sql = "insert into Test_byJack values(%d, %s);"
data = [tuple(x) for x in df.values]
 
print("sql:", sql)
print("data:", data)
print (",,, sql_statement", "," * 100, "\n")
 
 
# ------------------------------
# -- Execute SQL
# ------------------------------
cur.executemany(sql, data)
conn.commit()

ModuleNotFoundError: No module named 'pymssql'

In [ ]:
df = pd.read_sql("""SELECT * FROM sites_disable""", conn)

In [3]:
server = 'xawsql80.xacn.micron.com'
database = 'TSTENG_MXA'
username = 'TSTENG_MXA'
password = 'micron123'
conn = pyodbc.connect(DRIVER='{SQL Server Native Client 11.0}', SERVER='XTMSSPROD45\XTMSSPROD45',
                        DATABASE=database, UID=username, PWD=password)
params = urllib.parse.quote("DRIVER={SQL Server Native Client 11.0};SERVER=XTMSSPROD45\XTMSSPROD45;DATABASE=TSTENG_MXA;UID=TSTENG_MXA;PWD=micron123")
engine = sa.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [4]:
df = pd.read_sql("""SELECT * FROM sites_disable""", conn)

In [9]:
len(sites_df)

620712

In [7]:
site_df = pd.read_sql("""SELECT * FROM site_disable""", conn)

In [8]:
len(site_df)

781598

In [10]:
site_df.drop(columns = ['uuid'],inplace= True)

In [11]:
sites_df.drop(columns = ['uuid'],inplace= True)

In [15]:
save_df = [site_df, sites_df]

In [16]:
df = pd.concat(save_df)

In [18]:
df = df.drop_duplicates()

In [19]:
df.index = range(len(df))

In [33]:
temp = df[df['slash_lot'] == 'DQN/HL/BQ/21UNH']
tmp = temp[df['site'] == 117]

C:\Users\darrenzhou\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [45]:
tmp['register'].

0          None
1277186    NA
Name: register, dtype: object

In [20]:
df['uuid'] = pd.Series(None, index=df.index)
df['uuid'] = df['uuid'].apply(lambda x : uuid.uuid4().hex)

C:\Users\darrenzhou\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\darrenzhou\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [22]:
df.to_csv("site_disable.csv",index=False)

In [11]:
df = pd.read_csv("site_disable.csv")

In [40]:
pd.set_option('display.max_columns', None)

In [41]:
df.head()

,mfg_workweek,design_id,lot,slash_lot,date,status,head,site,DSL,step,test_type,temperature,number_of_die_in_pkg,speed,total_sites,configuration_width,configuration_depth,lead_count,package_length,package_width,fab,LB,id,bin,register,reason,socket,TFBGA,machine_id,column_no,row_no
0,201824,Z01B,DQNHLBQ.21U,DQN/HL/BQ/21UNH,05:03:42 6/10/2018,DISABLE,1,117,5.05,HSRT,NORMAL,88C,1,075E,256,X8,1G,78/117,12.0,8.0,fab15,LB:593-20586,z_return_disable.pl,Bin 7,None,marginal site,S3C3P9,TFBGA,SM3016-0208,5,9
1,201823,Z01M,PT82300.53U,PT8/23/00/53UNS,16:47:26 6/7/2018,DISABLE,1,49,8.48,SCRN,NORMAL,108C,2,062,128,X32,512M,200/264,14.5,10.0,fab11,LB:593-22740,TSMAuto,Bin 7,shorts_VDD2#,Failed Yield Criteria,S0C3P8,WFBGA,SM3016-0015,1,10
2,201823,Z01H,DQGD48Q.21U,DQG/D4/8Q/21UNH,08:23:08 6/7/2018,DISABLE,1,29,10.83,HSRT1,NORMAL,98C,1,110,128,X32,256M,190/266,14.0,10.0,fab11,LB:593-22351,z_return_disable.pl,Bin 7,None,marginal site,S1C3P14,TFBGA,SM3016-0021,5,13
3,201825,Z11B,DQRN5JQ.21U,DQR/N5/JQ/21UNH,00:20:07 6/17/2018,DISABLE,1,128,5.01,HSRT,NORMAL,88C,1,068,256,X8,1G,78/117,11.0,7.5,fab16,LB:593-20586,z_return_disable.pl,Bin 7,None,marginal site,S2C2P11,TFBGA,SM3016-0148,16,9
4,201823,Z11B,DQY9X7Q.21U,DQY/9X/7Q/21UNZ,02:47:08 6/7/2018,DISABLE,1,167,5.22,CFIN,NORMAL,-5C,1,068,256,X8,1G,78/117,11.0,7.5,fab11,LB:593-20586,z_return_disable.pl,Bin 7,None,marginal site,S1C2P5,TFBGA,SM3016-0057,7,6

In [17]:
df = df.astype({'mfg_workweek':str,'head':str,'DSL':str,'number_of_die_in_pkg':str,'total_sites':str,'package_length':str,'package_width':str})

In [19]:
df.to_sql("site_disable",engine,if_exists="append",index=False)

In [27]:
uuid.uuid4().urn

'urn:uuid:f735be63-d464-4d86-94a8-89f7bf525b17'